.button {
    padding: 4px 25px;
    background: rgb(19, 143, 247);
    border: 1px solid #1161B0;
    color: #fff;
    border-radius: 4px;
    text-decoration:none;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
.like__btn {
  padding: 5px 10px;
  background: #0080ff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
}