.button {
    padding: 4px 25px;
    background: rgb(19, 143, 247);
    border: 1px solid #1161B0;
    color: #fff;
    border-radius: 4px;
    text-decoration:none;
}
<<<<<<< HEAD
=======

body{
    background:hotpink;
}

>>>>>>> fdb6a4ced6107388bc6b09bd6c88a261fbaa838a
