@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
*{
margin: 0;
padding: 0;
}
.button {
    padding: 15px 35px;
    font-size: 12px;
    border-radius: 4px;
    text-decoration:none;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.modal-container{
  display: none;
  background-color: rgb(0, 0,0,0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.modal {
  background-color: #fff;
  width: 300px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0,0,0,0.2);
  text-align: center;
}
.modal h1 {
  margin: 0;
}
.modal button {
  border-radius: 5px;
  padding: 5px;
  pointer-events: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
.like__btn {
  padding: 5px 10px;
  background: #0080ff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
}
.create-post {
  background-color:rgb(43,2,0, 0.7);
  border-radius: 20px;
  width: 40%;
  padding: 12px 16px 10px;
}
.create-post h2 {
  font-family: roboto;
  color: #F5EBDC;
  margin: 0;
  font-size: 15px;
  padding-left: 10px;
}
.img-textPost {
  display: flex;
  margin: 8px 0 0 0;
}
.create-post input {
  border-radius: 40px;
  resize: none;
  overflow: auto;
  width: 90%;
  height: 20px;
  margin: 5px 0;
  outline: none;
  padding: 5px 15px 20px;
  border: none;
}
.btn-post {
  display: flex;
  justify-content : flex-end;
  align-items: center;
  text-align: center;
}
.btn-post a {
  font-family: roboto;
  color: #F5EBDC;
  font-size: 15px;
  margin: 0 15px 0 0px;
}
.btn-to-post-default, .string-text-post {
  font-family: roboto;
  color: #F5EBDC;
  font-size: 14px;
  background-color: grey;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  border: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 6px;
  cursor: no-drop;
}
.string-text-post {
  background-color: #E83505;
  cursor: pointer;
}
hr {
  margin: 0;
  margin-bottom: 10px;
}
.templatePost {
  background-color: skyblue;
}
/*Template 'not-user-sign-in.js'*/
.background-opacity {
  background-color: rgba(204, 200, 200, 0.8);
  filter:brightness(0.5);
}
.gallery, .gallery_template_home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 158px;
  grid-gap: 10px;
  padding: 5px;
}
.gallery_img, .gallery_img_not_user {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.gallery_item:nth-child(4) {
  grid-column-start: span 2;
}
.gallery_item:nth-child(5) {
  grid-row-start: span 2;
}
.gallery_item:nth-child(9) {
  grid-column-start: span 2;
}
.gallery_item:nth-child(10) {
  display: none;
}
#background-mobile-first {
  display: none;
}
.template-not-user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info-redirect-home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  position: absolute;
  top: 0;
  padding: 0 30px ;
  margin: 0;
}
.info-redirect-h1 {
  font-family: roboto;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  min-width: 35%;
  max-width: 30%;
  font-size: 70px;
  font-weight: 600;

}
.info-redirect-home-page section { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-self: center;

  background-color: #fff;
  border-radius: 20px;
  width: 25%;
  font-size: 25px; 
  padding: 10px 40px 20px;
  margin: 5% 16%;
  text-align: center;
}
#info-redirect-home-page_section {
  width: 18%;
}
.info-redirect-home-page section h3 {
  display: inline-block;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-self: center;
  color: rgb(51, 51, 51); 
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -1.2px; 
  padding: 0;
}
.info-redirect-home-page section span {
  font-family: Allerta Stencil;
  display: flex;
  justify-content: center;

  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: -0.015em;
  text-align: center;
}
.info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-redirect-home-page p {
  align-self: center;
  font-family: roboto;
  font-style: normal;
  font-size: 13px;
  color: rgb(112, 112, 112); 
}
.buttons-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items :center;
  align-content :center;
  margin-top: 20px;

}
.info-redirect-home-page a {
  text-decoration: none;

  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  border: 1px solid;
  height: 5px; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border-radius: 20px;
  padding: 15px;

}
.button-redirect-sign-in {
  background-color: #E83505 ;
}
.button-redirect-sign-up {
  background-color: #000 ;
}
#button-redirect-home-page {
  cursor: pointer;
  margin: 0;
  border-radius: 23px;
  color: rgb(51, 51, 51); 
}
.logo-iChef{
  width: 20%;
  height: 20%;
  margin: 5px 0;
}
.button-mobile {
  display: none;
}
.post-text-background{
  display: none;
}
.example-iChef {
  display: none;
  color: #fff;
}
.logo-iChef-background {
  display: none;
}
#condictions-iChef {
  max-width: 90%;
  font-size: 10px;
  color: rgb(104, 104, 104); 
  margin: 10px 0;
}
.buttons-info a img {
  width: 6%;
  padding-right: 10px;
}
footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
